<%- include('Header') %>
<div id = 'container'><br>
    <form id = 'thi_result' method ='post' enctype='multipart/form-data'>
        <div id ='header'>
            <a>THI Result</a>
            <button formaction ='/home' id='goBack'>Back</button>
        </div><br>
        <div id = 'form_body'>
        <%if (visit) { %>
            Visit ID:
            <input type ='text' id ='visitid'name = 'visitid' value = '<%= visit.VISIT_ID %>'disabled>
            Date:
            <input type ='text' id ='date'name = 'visitdate_val' value = '<%= visit.Visit_Date %>'disabled >
            <br>Patient:
            <input type ='text' id ='name'name = 'patient_name' value = '<%= visit.First_name %>  <%= visit.Last_name %>'disabled >
            THC #: 
            <input type ='text' id ='thcnumber'name = 'patient_thc' value = '<%= visit.PATIENT_THC %>'disabled>
            Visit no.
            <input type ='text' id ='visitno'name = 'visit_seq' value = '<%= visit.Visit_sequence_number %>'disabled>
        <% }else { %>  
            <p>Not Found!</p>
        <% } %>
        <br><br>
        <%for (var i = 0; i<=24; i++) { %>
            Question <%= i+1 %>: <%= scores[i]%><br>
        <% } %>       
             Total Function score: <%= scores[25]%> <br>
             Total Emotion score: <%= scores[26]%> <br>
             Total Catastrophic score: <%= scores[27]%> <br>
             Total THI score: <%= scores[28]%> <br>
             Result:  <%= result_detail %> <br>       
            <br><br>
           
            <button type ='submit' formaction = '/thi_cancel' name = 'visitid_val' value = '<%= visit.VISIT_ID %>' id='tfi_cancel'>CANCEL</button>
            <button type ='submit' formaction = '/home' id='tfi_save'>SAVE</button>
            
        </div>
    </form>
    
</div>
</body>
</html>